@import "bootstrap";

/********** UNIVERSAL **********/

/* BEGIN: Basic html tags */
body { padding-top: 60px;
    padding-bottom: 40px;
    background-image: url('temp/background.png');
    background-size: 1440px 800px;
    background-repeat:repeat;
}
.sidebar-nav { padding: 9px 0; }

.navbar-inner {
  background-color: #9F111B; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

a.nav {
  color:
    #FFF;
  text-decoration: none;
}

.hero-unit p.text-success { color: #468847;
    font-size: 14px; }

p.content-text {
  line-height: 18px;
  font-size: 12px; }

div.white-bkg {
  background:white;
  border: 1px solid #DDD;}

div.grey-bkg {
  background:#EEE;}
/* END: Basic html tags */

/* BEGIN: LP Search bar */
button.add-on {
  height: 40px;
  width: 90px;
}

search-bkg {
  background: white;
  display:block;
  border: 1px solid black;
}

#search-form{
  padding: 15px;
  border: 1px solid #DDD;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

input.search {
  height: 30px;
  width: 75%;
}

button.sell-button{
  height: 40px;
  width: 100%;
}

form.simple{
  margin: 0 0 0px;
}

a.lp_color {
  color: #F89406;
}
/* END: LP Search bar*/

/* BEGIN: Search results page */
button.buy-now-button{
  height: 40px;
  width: 100%;
}
/* END: Search results page */
/*************************/

/* BEGIN: Categories page */
ul.categories_thumb {
  width: 160px;
}
/* END: Categories page */
/*************************/
