@import "bootstrap";

/********** UNIVERSAL **********/

/* basic html tags */
body { padding-top: 60px;
    padding-bottom: 40px; }
.sidebar-nav { padding: 9px 0; }
.hero-unit p.text-success { color: #468847;
    font-size: 14px; }

/*************************/

