@import "bootstrap";

/********** UNIVERSAL **********/

/* BEGIN: Basic html tags */
body { padding-top: 60px;
    padding-bottom: 40px; }
.sidebar-nav { padding: 9px 0; }
.hero-unit p.text-success { color: #468847;
    font-size: 14px; }

p.content-text {
  line-height: 18px;
  font-size: 12px; }

div.white-bkg {
  background:white;}

div.grey-bkg {
  background:#EEE;}
/* END: Basic html tags */

/* BEGIN: LP Search bar */
button.add-on {
  height: 40px;
  width: 90px;
}//position: absolute;}

search-bkg {
  background: white;
  display:block;
  border: 1px solid black;
  margin-left:auto;
  margin-right:auto;
}

#search-form{
  padding: 7px;
  border: 1px solid #DDD;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.input-search {
  height: 30px;
  width: 610px;
}

button.sell-button{
  height: 40px;
  width: 150px;
}

/* END: LP Search bar*/

/*************************/

